@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* General info*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(215,210,207);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Admin setup */
/* Edit listings BLOCK*/
.edit_listings{
    padding: 40px;
    text-decoration: none;
    border-radius: 50px;
    background-color: white;
    width: 90%;
    margin-top: 80px;
}
table-header {
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
/* Statistics block*/
.statistics-block {
    border-radius: 50px;
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    margin-left: 40px;
    align-self: flex-start; /* Align block to the left */
}

.statistics-heading {
    font-weight: bold;
}

.statistics-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.statistics-item {
    margin-bottom: 10px;
}
/* Sort By dropdown */
.sort-by {
    margin-bottom: 10px;
    align-self: flex-end; /* Align to the right */
}

.sort-by select {
    padding: 5px;
    font-size: 14px;
}

.user-list select {
    width: 100%;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.user-list td:nth-child(4) {
    display: flex;
    align-items: center;
}

.user-list td:nth-child(4) select {
    margin-right: 10px;
}
