body {
    font-family: Arial, sans-serif;
    background-image: url('../img/background_updated.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    margin-right: 90px;
    margin-top: 100px;
}

.form-container {
    padding: 40px;
    border-radius: 10px;
    width: 500px;
}

.navbar {
    background-color: transparent !important;
}

.nav-link.btn:hover {
    background-color: rgb(167, 135, 136) !important;
    color: white !important;
}

h1 {
    text-align: center;
    /*	text-shadow: 1px 1px 1px #000000;*/
}

form {
    margin-top: 20px;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(167, 135, 136);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    cursor: pointer;
}

a[href="registration.html"] {
    color: rgb(167, 135, 136);
}


.form-group {
    margin-top: 5px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 4px;
}

.forgot-password-link {
    margin-left: 150px;
    color: rgb(167, 135, 136);
    text-decoration: none;
}

.forgot-password-link:hover {
    color: rgb(167, 135, 136);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
/* Set the position of the sections below the upper section */
.how-it-works-section, .costs-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.how-it-works-section{
    padding-top: 30px;
    height: 200px;
}
.costs-section{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 400px;
}
.info-section {
    text-align: center;
}

.info-section a {
    color: #fff;
    margin-right: 20px;
    margin-left: 30px;
}

.info-section a:hover {
    color: rgb(167, 135, 136);
}