body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(240, 237, 235);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    margin: 20px;
}
.conversation {
    display: flex;
    flex-direction: column;
}
.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
}
.received {
    background-color: #f2f2f2;
    align-self: flex-start;
}
.sent {
    background-color: rgb(167, 135, 136);
    color: #fff;
    align-self: flex-end;
}
.timestamp {
    font-size: 10px;
    color: #c8cbcf99;
    display: block;
    text-align: right;
    margin-top: 5px;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
input[type="submit"] {
    background-color: rgb(167, 135, 136);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.host{
    display: flex;
    align-items: center;
}
.host img{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}
.host h2{
    margin-bottom: 10px;
    font-weight: 500;
}
.host i{
    color: rgb(167, 135, 136);
}
.message.sent,
.message.received {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}
