body {
    font-family: Arial, sans-serif;
    background-image: url('../img/background_updated.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255,255,255,0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
form {
    width: 400px;
    margin: 0 auto;
}

label {
    display: inline-block;
    width: 100px;
}

input, textarea {
    width: 250px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}
input[type="submit"] {
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    align-items: center;
    margin-left: 110px;
    background-color: rgb(167, 135, 136);
}
input[type="submit"]:hover {
    background-color: #0062cc;
}