@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* General info*/
body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* NAVBAR CSS*/
/* LOGO */
.logo {
    cursor: pointer;
    width: 25%;
    height: 25%;
}
/* General navbar */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10%;
}
header.sticky {
    backdrop-filter: blur(10px);
}
.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
/* links */
.navbar-section li, a, button {
    font-weight: 500;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-links li {
    width: 140px;
    padding: 0 5px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: rgb(167, 135, 136);
}
/* Button in navbar */
header button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(167, 135, 136);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
header button:hover {
    background-color: rgb(161, 101, 103);
}

/* FORM white box */
.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 800px;

}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    width: 100%; /* Fill entire width of form container */
}

label {
    display: inline-block;
    width: 150px;
    white-space: nowrap; /* Prevent label text from wrapping */
    padding: 0 40px;
}

input, textarea {
    width: 300px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

input[type="submit"] {
    margin-left: 40px;
    width: 515px;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    align-items: center;
    background-color: rgb(167, 135, 136);
}

input[type="submit"]:hover {
    background-color: rgb(161, 101, 103);
}

/* Bottom information */
#info {
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info-section a {
    color: #fff;
    margin-right: 20px;
    margin-left: 30px;
    text-decoration: none;
}

.info-section a:hover {
    color: rgb(167, 135, 136);
}

.form-section {
    margin-bottom: 20px;
    margin-top: 30px;
}

/* Style for the popup windows */
.popup {
    display: none; /* Hide the popups by default */
    position: fixed; /* Position the popups */
    z-index: 1; /* Set a high z-index to make them appear on top of other elements */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scrolling if needed */
    background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent background color */
    border-radius: 50px;
    padding: 20px;
}

.popup-content {
    background-color: #fefefe;
    margin: 10% auto; /* Center the popup windows vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

