<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/script.js"></script>
</head>
<body>
<div class="header">
    <nav id="navBar">
        <a href="/" th:href="@{/home_page}"><img src="img/compass_white_name.png" class="logo"></a>
        <div class="search-bar-list">
            <form th:action="@{/listings/city}" method="get" class="form">
                <input type="search" placeholder="Search in a city..." class="search-field" name="city">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul class="nav-links">
            <li><a href="/" th:href="@{/listing}">Find a house</a></li>
            <li><a href="/" th:href="@{/new_listing}" >Add a listing</a></li>
        </ul>
        <i class="fas fa-bars" onclick="togglebtn()"></i>
        <div class="dropdown">
            <button class="dropbtn"><img src="img/menu3.png" alt="My Button Image"></button>
            <div class="dropdown-content">
                <a href="/" th:action="@{/account}">Account</a>
                <a href="/" th:action="@{/message}">Messages</a>
                <a href="/" th:action="@{/favourites}">Favorites</a>
                <a href="/" th:action="@{/help}">Help</a>
                <a href="/" th:action="@{/logout}" >Log Out</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <!-- ALL LISTINGS -->
        <div class="left-col" th:if="${listingsSearch != null}" >
            <!-- Looping through the listings and populating the HTML dynamically -->
            <div th:each="listing : ${listingsSearch}" class="house" >
                <a th:href="@{'/house/' + ${listing.listingId}}">CLICK HERE FOR MORE INFO</a>
                <!-- <div class="house-img">
                    <img th:src="@{${listing.getMainImgPath}}" alt="Listing Image">
                </div> -->
                <div class="house-info">
                    <p th:text="${listing.addressLine}"></p>
                    <h3 th:text="${listing.description}"></h3>
                    <!-- Rating stars -->
                    <span th:each="i : ${#numbers.sequence(1, listing.rating)}">
                <i class="fas fa-star"></i>
            </span>
                    <span th:each="i : ${#numbers.sequence(1, 5 - listing.rating)}">
                <i class="far fa-star"></i>
            </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var navBar = document.getElementById("navBar");

    function togglebtn() {
        navBar.classList.toggle("hidemenu");
    }
</script>

</body>
</html>