<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/script.js"></script>
</head>
<body>
<div class="header">
    <nav id="navBar">
        <a href="/" th:href="@{/home_page}"><img src="img/compass_white_name.png" class="logo"></a>
        <div class="search-bar-list">
            <form action="/" method="GET" class="form">
                <input type="search" placeholder="Search for..." class="search-field">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul class="nav-links">
            <li><a href="/" th:href="@{/listing}">Find a house</a></li>
            <li><a href="/" th:href="@{/new_listing}">Add a listing</a></li>
        </ul>
        <i class="fas fa-bars" onclick="togglebtn()"></i>
        <div class="dropdown">
            <button class="dropbtn"><img src="img/menu3.png" alt="My Button Image"></button>
            <div class="dropdown-content">
                <a href="/" th:href="@{/account}">Account</a>
                <a href="/" th:href="@{/message}">Messages</a>
                <a href="/" th:href="@{/favourites}">Favorites</a>
                <a href="/" th:href="@{/help}">Help</a>
                <a href="#" onclick="logout()">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Find Your Next Stay</h1>
        <div class="search-bar">
            <form>
                <div class="location-input">
                    <label>Location</label>
                    <input type="text" placeholder="Where are you going?">
                </div>
                <div>
                    <label>Check in</label>
                    <input type="text" placeholder="Add Date">
                </div>
                <div>
                    <label>Check out</label>
                    <input type="text" placeholder="Add Date">
                </div>
                <div>
                    <label>Guest</label>
                    <input type="text" placeholder="Add Guest">
                </div>
                <button type="submit"><img src="img/search.png"></button>
            </form>
        </div>
    </div>
</div>
<form id="logoutForm" action="/logout" method="post" style="display: none;"></form>

</body>
</html>