<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Page</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link href="/css/navbar.css" rel="stylesheet" th:if="${#strings.startsWith(request.getRequestURI(), '/house/')}">
    <link href="/css/style_without_navbar.css" rel="stylesheet"
          th:if="${#strings.startsWith(request.getRequestURI(), '/house/')}">
    <script src="js/script.js"></script>
</head>
<body>
<section class="navbar">
    <header>
        <!-- Logo -->
        <a href="/" th:href="@{/success}"><img class="logo" src="/img/compass_white_name.png" alt="logo"></a>
        <!--Search bar -->
        <div class="search-bar">
            <form action="/" method="GET" class="form">
                <input type="search" placeholder="Search for..." class="search-field">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- Find a house and add a listing navlinks -->
        <div class="nav-links">
            <ul class="nav-links-style">
                <li><a href="/" th:href="@{/listing}">Find a house</a></li>
                <li><a href="/" th:href="@{/new_listing}">Add a listing</a></li>
            </ul>
        </div>
        <!-- Dropdown menu -->
        <div class="dropdown">
            <button class="dropbtn"><img src="/img/menu3.png" alt="My Button Image"></button>
            <div class="dropdown-content">
                <a href="/" th:href="@{/account}">Account</a>
                <a href="/" th:href="@{/message}">Messages</a>
                <a href="/" th:href="@{/favourites}">Favorites</a>
                <a href="/" th:href="@{/help}">Help</a>
                <a href="#" onclick="logout()">Logout</a>
            </div>
        </div>
    </header>
    <form id="logoutForm" action="/logout" method="post" style="display: none;"></form>
</section>
<div class="spacer"></div>
<!-- HOUSE 1 -->
<div class="house-details">
    <!-- MAIN DETAILS -->
    <div>
        <h1 th:text="${listing.description}"></h1>
        <div class="row">
            <div>
            <span th:each="i : ${#numbers.sequence(1, listing.rating)}">
                <i class="fas fa-star"></i>
            </span>
                <span th:each="i : ${#numbers.sequence(1, 5 - listing.rating)}">
                <i class="far fa-star"></i>
            </span>
                <span th:text="${listing.ownerRating}">0</span>
            </div>
            <div>
                <p th:text="'Location: ' + ${listing.city}"></p>
            </div>
        </div>
        <div th:each="image : ${listing.getImages}" class="house-img">
            <img th:src="@{${image.getUrl}}" alt="Listing Image">
        </div>
        <p th:text="'Address: ' + ${listing.addressLine} + ', ' + ${listing.city} + ', ' + ${listing.postalCode} + ', ' + ${listing.country}"></p>
        <p th:text="'Description: ' + ${listing.description}"></p>
        <p th:text="'Booking Info: ' + ${listing.bookingInfo}"></p>
        <p th:text="'Rating: ' + ${listing.rating}"></p>
        <p>
            Availability: From
            <span th:text="${#dates.format(listing.availabilityStart, 'yyyy-MM-dd')}"></span>
            to
            <span th:text="${#dates.format(listing.availabilityEnd, 'yyyy-MM-dd')}"></span>
        </p>
        <hr> <!-- Add a horizontal rule to separate each listing -->
    </div>

    <!-- CHECK IN FORM // SEARCH BAR THAT NEEDS CHANGING -->
    <form class="check-form">
        <div>
            <label>Check-in</label>
            <input type="text" placeholder="Add date">
        </div>
        <div>
            <label>Check-out</label>
            <input type="text" placeholder="Add date">
        </div>
        <div class="guest-field">
            <label>Guest</label>
            <input type="text" placeholder="2 guest">
        </div>
        <button type="submit">Check Availability</button>
    </form>

    <!-- SOME HARDCODED STUFF FOR DE-->
    <ul class="details-list">
        <li><i class="fas fa-home"></i>Entire Home
            <span>You will have the entire flat for you.</span>
        </li>
        <li><i class="fas fa-paint-brush"></i>Enhanced Clean
            <span>This host has committed to staybnb's cleaning process.</span>
        </li>
        <li><i class="fas fa-map-marker-alt"></i>Great Location
            <span>90% of recent guests gave the location a 5-star rating.</span>
        </li>
        <li><i class="fas fa-heart"></i>Great Check-in Experience
            <span>100% of recent guests gave the check-in process a 5-star rating.</span>
        </li>
    </ul>

    <!-- MAP -->
    <div class="map">
        <h3>Location on map</h3>
        <iframe th:src="@{'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.9185124463!2d2.347035!3d48.85885484999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C%20France!5e0!3m2!1sen!2spl!4v1685377861536!5m2!1sen!2spl'}"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <b th:text="${listing.city + ', ' + listing.country}"></b>
        <p>It's like a step away from home.</p>
    </div>
    <hr class="line">

    <!-- HOST -->
    <div class="host">
        <div>
            <!--            <h2>Hosted by </h2>-->
            <h2 th:text="'Hosted by: '+ ${host.firstname + ' ' + host.lastname}"></h2>
            <p>
                <span th:each="i : ${#numbers.sequence(1, 4)}">
                    <i class="fas fa-star"></i>
                </span>
                <i class="fas fa-star-half-alt"></i>
            </p>
        </div>
    </div>
    <a href="/" th:href="@{/message}" class="contact-host">Contact Host</a>
</div>

<!-- SOCIAL MEDIA -->
<div class="container">
    <div class="footer">
        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://youtube.com/"><i class="fab fa-youtube"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
        <hr>
    </div>
</div>

<!-- Bottom information -->
<section id="info" class="info-section">
    <a href="#" onclick="openPopup('about')">ABOUT</a>
    <a href="#">COOKIE SETTINGS</a>
    <a href="#" onclick="openPopup('privacy')">PRIVACY</a>
</section>

<!-- Popup Windows -->
<div id="popup-about" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup('about')">&times;</span>
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae volutpat nulla. Sed nec lacus in nisl
            luctus sagittis. Sed suscipit magna id est ullamcorper, ut vehicula augue mattis. In hac habitasse platea
            dictumst.</p>
        <!-- Add your project summary text here -->
    </div>
</div>
<div id="popup-privacy" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup('privacy')">&times;</span>
        <h2>Privacy</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae volutpat nulla. Sed nec lacus in nisl
            luctus sagittis. Sed suscipit magna id est ullamcorper, ut vehicula augue mattis. In hac habitasse platea
            dictumst.</p>
        <!-- Add your privacy policy text here -->
    </div>
</div>
</body>
</html>