<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Page</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/script.js"></script>
</head>
<body>
    <nav id="navBar" class="navbar-white">
        <a href="index.html">
            <img src="img/compass_white_name.png" class="logo">
        </a>
		 <div class="search-bar-list">
            <form action="/" method="GET" class="form">
                <input type="search" placeholder="Search for..." class="search-field">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <ul class="nav-links">
             <li><a href="#">Rent your house</a> </li>
        </ul>
        <a href="#" class="register-btn">Register Now</a>
        <i class="fas fa-bars" onclick="togglebtn()"></i>
		 <div class="dropdown">
            <button class="dropbtn"><img src="img/menu3.png" alt="My Button Image"></button>
            <div class="dropdown-content">
                <a href="#">Account</a>
                <a href="#">Messages</a>
                <a href="#">Favorites</a>
                <a href="#">Help</a>
                <a href="#">Log Out</a>
            </div>
        </div>
    </nav>
<div class="container">

    <div class="list-container">
        <div class="left-col">
            <p>100+ Options</p>
            <h1>Recommended Places In Paris</h1>
            <div class="house">
                <div class="house-img">
                    <a href="house.html"><img src="img/image-s1.png"></a>
                </div>
                <div class="house-info">
                    <p>Private Villa in Paris</p>
                    <h3>Modern Room In The Center</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 Guest</p>
                        <h4>$ 100 <span>/ day</span></h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <img src="img/image-s2.png">
                </div>
                <div class="house-info">
                    <p>Private Villa in Paris</p>
                    <h3>Luxurious Room With Street View</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 Guest</p>
                        <h4>$ 140 <span>/ day</span></h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <img src="../static/img/image-s3.png">
                </div>
                <div class="house-info">
                    <p>Private Villa in San Francisco</p>
                    <h3>Deluxe Queen Room With Street View</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 Guest</p>
                        <h4>$ 130 <span>/ day</span></h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <img src="../static/img/image-s4.png">
                </div>
                <div class="house-info">
                    <p>Private Villa in San Francisco</p>
                    <h3>Deluxe Queen Room With Street View</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 Guest</p>
                        <h4>$ 100 <span>/ day</span></h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <img src="../static/img/image-s5.png">
                </div>
                <div class="house-info">
                    <p>Private Villa in San Francisco</p>
                    <h3>Deluxe Queen Room With Street View</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 Guest</p>
                        <h4>$ 100 <span>/ day</span></h4>
                    </div>
                </div>
            </div>
            <div class="house">
                <div class="house-img">
                    <img src="../static/img/image-s6.png">
                </div>
                <div class="house-info">
                    <p>Private Villa in San Francisco</p>
                    <h3>Deluxe Queen Room With Street View</h3>
                    <p>1 Bedroom / 1 Bathroom / Wifi / Kitchen</p>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <i class="far fa-star"></i>
                    <div class="house-price">
                        <p>2 Guest</p>
                        <h4>$ 100 <span>/ day</span></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-col">
            <div class="sidebar">
                <h2>Select Filters</h2>
                <h3>Property Type</h3>
                <div class="filter">
                    <input type="checkbox"> <p>House</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>Hostel</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>Flat</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>Villa</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>Guest Suite</p> <span>(0)</span>
                </div>
                <h3>Amenities</h3>
                <div class="filter">
                    <input type="checkbox"> <p>Air Conditioning</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>Wifi</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>Gym</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>Pool</p> <span>(0)</span>
                </div>
                <div class="filter">
                    <input type="checkbox"> <p>Kitchen</p> <span>(0)</span>
                </div>

                <div class="sidebar-link">
                    <a href="#">View More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <img src="../static/img/arrow.png">
        <span class="current">1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>&middot; &middot; &middot; &middot;</span>
        <span>20</span>
        <img src="../static/img/arrow.png" class="right-arrow">
    </div>

    <div class="footer">
        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://youtube.com/"><i class="fab fa-youtube"></i></a>
        <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>
        <hr>
        <p></p>
    </div>
</div>
    

<script>
    var navBar = document.getElementById("navBar");
    function togglebtn(){
        navBar.classList.toggle("hidemenu");
    }
</script>

    <script src="js/jquery-3.4.1.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
</body>
</html>