<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing Rating</title>
    <script src="https://kit.fontawesome.com/c4254e24a8.js" crossorigin="anonymous"></script>
    <link href="/css/navbar.css" rel="stylesheet">
    <link href="/css/rate.css" rel="stylesheet">
    <link href="/css/navbar.css" rel="stylesheet">
    <script src="js/script.js"></script>

</head>
<body>
<section class="navbar">
    <header>
        <!-- Logo -->
        <a href="/" th:href="@{/success}"><img class="logo" src="/img/compass_white_name.png" alt="logo"></a>
        <!--Search bar -->
        <div class="search-bar">
            <form action="/" method="GET" class="form">
                <input type="search" placeholder="Search for..." class="search-field">
                <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- Find a house and add a listing navlinks -->
        <div class="nav-links">
            <ul class="nav-links-style">
                <li><a href="/" th:href="@{/listing}">Find a house</a></li>
                <li><a href="/" th:href="@{/new_listing}">Add a listing</a></li>
            </ul>
        </div>
        <!-- Dropdown menu -->
        <div class="dropdown">
            <button class="dropbtn"><img src="/img/menu3.png" alt="My Button Image"></button>
            <div class="dropdown-content">
                <a href="/" th:href="@{/account}">Account</a>
                <a href="/" th:href="@{/booking_history}">Bookings History</a>
                <a href="/" th:href="@{/message}">Messages</a>
                <a href="/" th:href="@{/favourites}">Favorites</a>
                <a href="/" th:href="@{/help}">Help</a>
                <a href="#" onclick="logout()">Logout</a>
            </div>
        </div>
    </header>
    <form id="logoutForm" action="/logout" method="post" style="display: none;"></form>
</section>

<div class="spacer"></div>

<div class="list-rating">
    <h2>Rate the Listing</h2>
    <form modelAttribute="rating" id="ratingForm" th:action="@{/listing/rate}" method="POST" enctype="multipart/form-data" th:object="${rating}">
        <div class="listing-details" th:each="listing: ${listing}">
            <p th:text="'Address: ' + ${listing.addressLine} + ', ' + ${listing.city} + ', ' + ${listing.postalCode} + ', ' + ${listing.country}"></p>
            <p th:text="'Description: ' + ${listing.description}"></p>
         </div>
        <!-- Hidden fields for reviewerId and listingId -->
        <input type="hidden" name="reviewerId" th:value="${owner.getId}" />
        <input type="hidden" name="listingId" th:value="${listing.getListingId}" />
        <!-- Rating stars -->
        <div class="rating">
            <input type="radio" id="star5" name="score" value="5" th:field="*{score}">
            <label for="star5" title="5 stars">
                <i class="fas fa-star"></i>
            </label>
            <input type="radio" id="star4" name="score" value="4" th:field="*{score}">
            <label for="star4" title="4 stars">
                <i class="fas fa-star"></i>
            </label>
            <input type="radio" id="star3" name="score" value="3" th:field="*{score}">
            <label for="star3" title="3 stars">
                <i class="fas fa-star"></i>
            </label>
            <input type="radio" id="star2" name="score" value="2" th:field="*{score}">
            <label for="star2" title="2 stars">
                <i class="fas fa-star"></i>
            </label>
            <input type="radio" id="star1" name="score" value="1" th:field="*{score}">
            <label for="star1" title="1 star">
                <i class="fas fa-star"></i>
            </label>
        </div>


        <!-- Description field -->
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" th:field="*{description}" class="form-control" rows="5" required></textarea>
            <small class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></small>
        </div>

        <button type="submit">Submit Rating</button>
    </form>
</div>

</body>
</html>