<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up Form</title>
    <link href="css/registration_style.css" rel="stylesheet">
    <script src="js/script.js"></script>
</head>
<body>
<!-- NAVBAR-->
<section id="navbar" class="navbar-section">
    <header>
        <a href="/" th:action="@{/login}"><img class="logo" src="img/compass_white_name.png" alt="logo"></a>
        <nav>
            <ul class="nav-links">
                <li><a href="#">How it works?</a></li>
                <li><a href="#">How much it costs?</a></li>
            </ul>
        </nav>
        <a class="cta" href="/" th:href="@{/login}">
            <button>Login</button>
        </a>
        <a class="cta" href="/" th:href="@{/registration}">
            <button>Register</button>
        </a>
    </header>
</section>
<!-- Registration form -->
<section id="form" class="form-section">
    <div class="form-container">
        <h1>Create account</h1>
        <form modelAttribute="user" th:action="@{/registration}" th:object="${user}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:field="*{username}" required>

            <label for="name">First name:</label>
            <input type="text" id="name" name="name" th:field="*{firstname}" required>

            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" th:field="*{lastname}" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" th:field="*{email}" required>

            <label for="description">Description</label>
            <input type="text" id="description" name="description" th:field="*{description}" required>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" th:field="*{birthdate}" required>
            <!-- in errorclass you can set css for the error -->
            <p th:if="${#fields.hasErrors('birthdate')}" th:errorclass="error" th:errors="*{birthdate}"/>

            <label for="phone">Phone number:</label>
            <input type="tel" id="phone" name="phone" th:field="*{phoneNumber}" required>

            <label for="address">Address line:</label>
            <input type="text" id="address" name="address" th:field="*{addressLine}" required>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" th:field="*{city}" required>

            <label for="code">Zip/Postal code:</label>
            <input type="text" id="code" name="code" th:field="*{postalCode}" required>

            <label for="country">Country:</label>
            <input type="text" id="country" name="country" th:field="*{country}" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>

            <label for="password_conf">Confirm password:</label>
            <input type="password" id="password_conf" name="password_conf" required>

            <input type="submit" value="Sign Up">

            <div th:if="${successMessage}" class="success-message">
                <p th:text="${successMessage}"></p>
            </div>
        </form>
    </div>
</section>
<!-- Bottom information -->
<section id="info" class="info-section">
    <a href="#" onclick="openPopup('about')">ABOUT</a>
    <a href="#">COOKIE SETTINGS</a>
    <a href="#" onclick="openPopup('privacy')">PRIVACY</a>
</section>

<!-- Popup Windows -->
<div id="popup-about" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup('about')">&times;</span>
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae volutpat nulla. Sed nec lacus in nisl
            luctus sagittis. Sed suscipit magna id est ullamcorper, ut vehicula augue mattis. In hac habitasse platea
            dictumst.</p>
        <!-- Add your project summary text here -->
    </div>
</div>

<div id="popup-privacy" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup('privacy')">&times;</span>
        <h2>Privacy</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae volutpat nulla. Sed nec lacus in nisl
            luctus sagittis. Sed suscipit magna id est ullamcorper, ut vehicula augue mattis. In hac habitasse platea
            dictumst.</p>
        <!-- Add your privacy policy text here -->
    </div>
</div>


</body>
</html>
