<!DOCTYPE html>
<html>
<head>
    <title>Sign Up Form</title>
    <!-- Stylesheet for backend build -->
<!--    <link href="css/registration_style.css" rel="stylesheet">-->
    <!-- Stylesheet for frontend build -->
    <link href="../static/css/registration_style.css" rel="stylesheet">
</head>
<body>
<!-- NAVBAR-->
<section id="navbar" class="navbar-section">
    <header>
        <a href="/" th:action="@{/login}"><img class="logo" src="../img/compass_white_name.png" alt="logo"></a>
        <nav>
            <ul class="nav-links">
                <li><a href="#">How it works?</a> </li>
                <li><a href="#">How much it costs?</a> </li>
            </ul>
        </nav>
        <a class="cta" href="/" th:action="@{/login}"><button>Login</button></a>
        <a class="cta" href="/" th:href="@{/registration}"><button>Register</button></a>
    </header>
</section>
<!-- Registration form -->
<section id="form" class="form-section">
    <div class="form-container">
        <h1>Create account</h1>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="name">First name:</label>
            <input type="text" id="name" name="name" required>

            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" required>

            <label for="phone">Phone number:</label>
            <input type="tel" id="phone" name="phone" required>

            <label for="address">Address line:</label>
            <input type="text" id="address" name="address" required>

            <label for="address">City:</label>
            <input type="text" id="city" name="city" required>

            <label for="address">Zip/Postal code:</label>
            <input type="text" id="code" name="code" required>

            <label for="address">Country:</label>
            <input type="text" id="country" name="country" required>

            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>
<!--            <button class="passwd-toggle" id="show-passwd"><img src="../static/img/eye_open.svg" alt="Show password"/></button>-->

            <label for="password">Confirm password:</label>
            <input type="text" id="password_conf" name="password_conf" required>

            <input type="submit" value="Sign Up">
        </form>
    </div>
</section>

<!-- Bottom information -->
<section id="info" class="info-section">
    <a href="#">ABOUT</a>
    <a href="#">COOKIE SETTINGS</a>
    <a href="#">PRIVACY</a>
</section>

<script src="js/registration_script.js"></script>
</body>
</html>
