<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset page</title>
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
    <link href="css/reset.css" rel="stylesheet">
    <script src="js/script.js"></script>
</head>
<body>
<!-- NAVBAR-->
<section id="navbar" class="navbar-section">
    <header>
        <a href="/" th:action="@{/login}"><img class="logo" src="img/compass_white_name.png" alt="logo"></a>
        <nav>
            <ul class="nav-links">
                <li><a href="#how-it-works">How it works?</a></li>
                <li><a href="#how-much-it-costs">How much it costs?</a></li>
            </ul>
        </nav>
        <a class="cta" href="/" th:action="@{/login}">
            <button>Login</button>
        </a>
        <a class="cta" href="/" th:href="@{/registration}">
            <button>Register</button>
        </a>
    </header>
</section>
<section id="main_info">
    <div class="container-fluid">
        <!-- Login form -->
        <div class="general-form">
            <div class="login-space">
                <h1>Reset password</h1>
                <form id="login-form" th:action="@{/login}" method="post">
                    <input type="new_password" name="new_password" placeholder="New password" required>
                    <input type="new_password2" name="new_password2" placeholder="Repeat new password" required>
                    <!-- Login button -->
                    <a href="/" th:action="@{/login}">
                        <button type="submit">Reset</button>
                    </a>
                </form>
                <!-- Registration link -->
                <div class="dont-have-acc">
                    <p>Don't have an account? <a href="/" th:href="@{/registration}">Sign up for free</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sections How it works & How much it works -->
<section id="how-it-works" class="how-it-works-section">
    <h2>How it works?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae volutpat nulla. Sed nec lacus in nisl
        luctus sagittis. Sed suscipit magna id est ullamcorper, ut vehicula augue mattis. In hac habitasse platea
        dictumst.</p>
</section>

<section id="how-much-it-costs" class="costs-section">
    <h2>How much it costs?</h2>
    <p>Quisque eget nisl ut nisl suscipit dignissim. Duis quis augue eu velit ullamcorper dignissim in ac metus. Etiam
        euismod eu nunc at varius. Praesent auctor nulla eu tortor congue rhoncus. Nullam dapibus, risus eget euismod
        blandit, mauris sapien efficitur lectus, sit amet eleifend nulla velit vel risus.</p>
</section>

<section id="info" class="info-section">
    <a href="#">ABOUT</a>
    <a href="#">COOKIE SETTINGS</a>
    <a href="#">PRIVACY</a>
</section>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-3.4.1.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/popper.min.js"></script>
<script src="js/bootstrap-4.4.1.js"></script>
</body>
</html>